<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <link href="./css/mui.min.css" rel="stylesheet" />
  <link href="./css/mui.imageviewer.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="./css/app.css" />
  <link rel="stylesheet" type="text/css" href="./css/chat.css" />
</head>

<body contextmenu="return false;" class="mui-fullscreen">
  <header class="header">语音聊天机器人</header>
  <pre id='h'></pre>
  <div class="mui-content" id="main-content">
    <div id='msg-list'></div>
  </div>
  <div id='sound-alert' class="rprogress">
    <div class="rschedule"></div>
    <div class="r-sigh">!</div>
    <div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
  </div>
  <footer>
    <div class="footer-left">
      <i id='msg-image' class="mui-icon mui-icon-settings" style="font-size: 28px;"></i>
    </div>
    <div class="footer-center">
      <textarea id='msg-text' type="text" class='input-text'></textarea>
      <button id='msg-sound' type="button" class='input-sound' style="display: none;">按住说话</button>
    </div>
    <label for="" class="footer-right">
      <i id='msg-type' class="mui-icon mui-icon-mic"></i>
    </label>
  </footer>
  <script src="./js/mui.min.js"></script>
  <script src="./js/mui.imageViewer.js"></script>
  <script src="./js/arttmpl.js"></script>
  <script src="./js/index.js"></script>
  <script type="text/javascript" charset="utf-8">
    index(mui, document);
  </script>
  <script id='msg-template' type="text/template">
    <% for(var i in record){ var item=record[i]; %>
      <div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' style="<%= (item.sender=='self'?'position: relative; right:40px;':'') %>">
        <% if(item.sender=='self' ) { %>	
          <img class="msg-user-img" src="<%=('./images/avaters/' + avater_style + '.jpg')%>" alt="" style="position: absolute; right:-30px"/>
        <% } else { %>
          <img class="msg-user-img" src="<%=('./images/robots/' + robot_style + '.jpg')%>" alt="" />
        <% } %>
        <div class="msg-content">
          <div class="msg-content-inner">
            <% if(item.type=='text' ) { %>
              <%=( item.content || '&nbsp;&nbsp;') %>
            <% } else if(item.type=='image' ) { %>
              <img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
            <% } else if(item.type=='sound' ) { %>
              <span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
              <span class="play-state">点击播放</span>
            <% } %>
          </div>
          <div class="msg-content-arrow" ></div>
        </div>
        <div class="mui-item-clear"></div>
      </div>
	<% } %>
  </script>
</body>
</html>
