* {
	touch-action: none;
}

.bar-title {
	height: 40px;
	width: 375px;
	background-color: cadetblue;
	line-height: 40px;
	padding-left: 15px;
	position: relative;
	font-weight: bold;
	color: white;
}

.line {
	height: 10px;
}

.mylabel {
	position: absolute !important;
	left: -20px !important;
	line-height: 17px !important;
	font-size: 15px !important;
}

.myradio {
	position: absolute !important;
	left: 13px !important;
}

.myimagelist {
	height: 50px;
	display: flex;
	flex-direction: row;
}

.reset {
	background-color: cadetblue;
	height: 45px;
	color: white;
	line-height: 45px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.delete {
	background-color: #FF6666;
	height: 45px;
	color: white;
	line-height: 45px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}